{{ elixir_release_name_code }}.Elixir.{{ elixir_release_name_module }}.Repo.username = "{{ db_username }}"
{{ elixir_release_name_code }}.Elixir.{{ elixir_release_name_module }}.Repo.password = "{{ db_password }}"
{{ elixir_release_name_code }}.Elixir.{{ elixir_release_name_module }}.Repo.database = "{{ db_database }}"
{{ elixir_release_name_code }}.Elixir.{{ elixir_release_name_module }}.Repo.hostname = "{{ db_hostname }}"
{{ elixir_release_name_code }}.Elixir.{{ elixir_release_name_module }}.Repo.adapter = {{ db_adapter }}
{{ elixir_release_name_code }}.Elixir.{{ elixir_release_name_module }}.Repo.ssl = {{ db_ssl }}
{{ elixir_release_name_code }}.Elixir.{{ elixir_release_name_module }}.Repo.pool_size = {{ db_pool_size }}

{{ elixir_release_name_code }}.Elixir.{{ elixir_release_name_module }}.Endpoint.secret_key_base = "{{ secret_key_base }}"
