use Mix.Config

# In this file, we keep production configuration that
# you'll likely want to automate and keep away from
# your version control system.
#
# You should document the content of this
# file or create a script for recreating it, since it's
# kept out of version control and might be hard to recover
# or recreate for your teammates (or yourself later on).
config :mix_deploy_example, MixDeployExampleWeb.Endpoint,
  secret_key_base: "EOdJB1T39E5Cdeebyc8naNrOO4HBoyfdzkDy2I8Cxiq4mLvIQ/0tK12AK1ahrV4y"

# Configure your database
config :mix_deploy_example, MixDeployExample.Repo,
  username: "postgres",
  password: "postgres",
  database: "mix_deploy_example_prod",
  pool_size: 15
